/* CONTACT ME */

.contact-me-container {
  background-color: var(--background-color);
  padding: 8rem 0;
}

.contact-me-list {
  display: flex;
  gap: 1rem;
}

.contact-me-card {
  padding: 0 4rem;
}

.contact-me-subtitle {
  margin-bottom: 1rem;
}

.contact-me-text {
  margin: auto;
  margin-bottom: 2rem;
}

.contact-me-subsubtitle {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.contact-me-newtworks {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.contact-me-network {
  border: 1px solid #E5E7EB;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 0.9rem;
  display: flex;
  gap: 0.5rem;
  background-color: transparent;
}

.contact-me-network:hover {
  cursor: pointer;
  background-color: #f3f3f3;
}

.network-icon {
  line-height: 0;
}

.contact-me-additional-info {
  margin-top: 2rem;
  background-color: #f4f5f5;
  padding: 2rem 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-me-form {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.contact-me-form-input-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: start;
  font-size: 1rem;
  font-weight: 500;
}

.contact-me-form-input-field input, .contact-me-form-input-field textarea {
  width: 100%;
  padding: 0.8rem 1rem;
  box-sizing: border-box;
  font-family: Inter;
  font-size: 1rem;
  border: 1px solid var(--text-color);
  border-radius: 10px;
  outline: transparent;
}

.contact-me-form-input-field textarea {
  resize: none;
}

.contact-me-form-input-field input:focus , .contact-me-form-input-field textarea:focus {
  border: 1px solid transparent;
  outline: 2px solid var(--text-color);
}

.form-button {
  margin: auto;
  margin-top: 1rem;
  width: 100%;
  padding: 1rem 0;
  background-color: #111827;
  color: #FFFFFF;
  border: 2px solid #111827;
  border-radius: 10px;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 500;
  box-sizing: border-box;
  cursor: pointer;
}

.form-button:hover {
  opacity: 0.9;
  transition: 0.3s;
}


/* MEDIAQUERIES */

@media screen and (max-width:1100px) {
  .contact-me-list {
    flex-direction: column;
    gap: 2rem;
  }

  .contact-me-form {
    width: 70%;
  }
}

@media screen and (max-width:900px) {
  .contact-me-container {
    padding: 4rem 0;
  }

  .contact-me-card {
    padding: 0 2rem;
  }

  .contact-me-form {
    width: 100%;
  }
}