---
import '../styles/global.css'
import '../styles/fonts.css'
import '../styles/mediaqueries.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="title" content="Alvaro Siesquén | Portafolio">
    <meta name="description" content="Portafolio de Alvaro Siesquén, donde encontrarás proyectos relacionados con diseño web, inteligencia artificial, deep learning y Python." />
    <meta name="keywords" content="Alvaro Siesquén, portafolio, programador, desarrollador">
    <meta name="author" content="Alvaro Siesquen">
    <meta name="generator" content={Astro.generator} />
    <title>Alvaro Siesquén | Portafolio</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<!-- <style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style> -->
